body {
    background-color: #000000;
    color: #ffffff;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*main container holding all sub containers and background color*/
.WeatherContainer {
    color: rgb(135, 135, 135);
    border: 1px solid black;
    padding: 16px;
    margin: 10px auto;
    border-radius: 4px;
    background-color: #4d4a4a;
    min-width: 600px;
}
.Weather {
    color: rgb(255, 255, 255);
    border: 1px solid black;
    padding: 16px;
    margin: 10px auto;
    margin-bottom: 20px;
    border-radius: 4px;
    Min-height: 260px;
    background-color: #252323;
}
/*container holding the city, country and date fields*/
.Weather-city {
    color: rgb(255, 255, 255);
    padding-left: 5px;
    margin: 10px auto;
    background-color: #4d4a4a;
}
/*container holding the city search function*/
.WeatherSearch {

    color: rgb(135, 135, 135);
    background-color: #252323;
    padding: 16px;
    margin: 10px auto;
    border-radius: 4px;
}
/*container holding the weather forecast information*/
.WeatherForecast {

    color: rgb(255, 255, 255);
    border: 1px solid black;
    padding: 16px;
    border-radius: 4px;
    margin-top: 10px;
    margin-right: 10px;
    Min-height: 335px;
    background-color: #252323;
}

.row {
    margin-right: auto;
}
.WeatherData {

    color: rgb(255, 255, 255);
    border: 1px solid black;
    padding: 16px 16px 0px 16px;
    border-radius: 4px;
    margin-top: 10px;
    background-color: #252323;
    min-height: 150px;
}

.Weather form {
    margin-bottom: 20px;
}

.Weather h1 {
    font-size: 36px;
    font-weight: 400;
    margin: 15px 0 0 0;
    line-height: 19px;
}

.Weather-city h1 {
    font-size: 54px;
    font-weight: 500;
    margin: 15px 0 7px 0;
    line-height: 30px;
}

.Weather-city .date {
    font-size: 12px;
    font-weight: 100;
    text-align: right;
    padding-right: 35px;
}

.Weather-city p {
    font-size: 10px;
    margin-left: 15px;
    margin-bottom: 5px;
    padding-top: 2px;
}
.WeatherForecast h1 {
    font-size: 36px;
    font-weight: 400;
    margin: 20px 0 0 0;
    line-height: 19px;
    min-height: 420px;
}


/*format search button*/
.WeatherSearch .btn {
    background-color: #ffffff;
    border: 1px solid #000000;
    color: black;
    font-weight: 700;
}
/*format Search button when user hovers over it*/
.WeatherSearch .btn:hover {
    background-color: rgb(230, 114, 204);
    border: 1px solid #494549;
    color: white;
    font-weight: 700;
}

.WeatherData p {
    padding-top: 5px;
    font-size: 14px;
    font-weight: 100;
    line-height: 17px;
    text-align: center;
}
/*format the emojis displaying in the extra information section, which will be replaced with icons*/
.WeatherData .emoji {
    padding-bottom: 5px;
    font-size: 34px;
    font-weight: 100;
    line-height: 17px;
    text-align: center;
}
/* format the main weather icon for todays temperature*/
.WeatherIcon {
    display: inline-block;
    width: 100%;
    text-align: center;
}
/*format the current temp value for todays temperature*/

.WeatherTemperatureCurrent {
    display: inline-block;
}
.WeatherTemperature .temperature {
    font-weight: 400;
    color: rgb(255, 255, 255);
    font-size: 65px;
    line-height: 64px;
    position: relative;
    float:left;
    text-align: left;
}

.WeatherTemperature .Unit {
    font-weight: 400;
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 64px;
    position: relative;
    top: -20px;

}

.Weather p {
    font-size: 10px;
    margin-left: 15px;
    padding-top: 10px;
}

/*formatting for the weather description and feels like tmp for todays temperature*/
.WeatherDescription p {
    font-size: 20px;
    padding-top: 15px;
}

.CurrentFeelsLike p {
    font-size: 20px;
    padding-top: 0px;
    margin-top: 0px;
}
.text-capitalize {
    margin-bottom: 0px;
}
/*formatting for the temperature units for todays current temperature*/
.WeatherTemperature .unit {
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    vertical-align: text-top;
    line-height: 1;
    top: 4px;
    margin-left: 0px; 
}


