.Weather {
    font-family: arial, sans-serif;
    color: rgb(135, 135, 135);
    border: 1px solid black;
    padding: 16px;
    margin: 30px auto;
    border-radius: 4px;
}

.Weather form {
    margin-bottom: 20px;
}

.Weather h1 {
    font-size: 24px;
    font-weight: 100;
    margin: 20px 0 0 0;
    line-height: 29px;
}

.Weather ul {
    margin: 0;
    padding: 0;
}
.Weather .btn {
    background-color: #575156;
    border: 1px solid #494549;
    color: white;
    font-weight: 700;
}

.Weather .btn:hover {
    background-color: rgb(230, 114, 204);
    border: 1px solid #494549;
    color: white;
    font-weight: 700;
}

.Weather li {
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    list-style: none;
}
.Weather img {
    float: left;
    margin-right: 10px;
    width: 64px;
}
.Weather .temperature {
    font-weight: 600;
    color: rgb(35, 33, 33);
    font-size: 64px;
    line-height: 64px;
}

.Weather .unit {
    font-size: 16px;
    color: rgb(35, 33, 33);
    font-weight: 400;
    position: relative;
    line-height: 1;
    top: -34px;
    margin-left: 0px; 
}

.WeatherTemperature .unit a {
    text-decoration: none;
    color: rgb(135, 135, 135);
}

.WeatherTemperature .unit a:hover {
    text-decoration: underline;
    color: rgb(230, 114, 204);
    font-weight: bold;
}

.WeatherTemperature .unit .active {
    font-weight: bold;
    color: rgb(35, 33, 33);
    cursor: default;
    pointer-events: none;
    text-decoration: underline;
}